<!DOCTYPE html>
<html lang="pl-PL" ng-app="booksApp">

<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.min.css">
  <link rel="stylesheet" type="text/css" href="lib/angular-material/angular-material.layouts.min.css">

  <script src="lib/jquery/jquery.js"></script>

  <script src="lib/angularjs/angular.min.js"></script>
  <script src="lib/angularjs/angular-route.min.js"></script>
  <script src="lib/angularjs/angular-messages.min.js"></script>
  <script src="lib/angularjs/angular-aria.min.js"></script>
  <script src="lib/angularjs/angular-animate.min.js"></script>

  <script src="lib/angular-material/angular-material.min.js"></script>
  
  <script src="ts/modules/restApi/services/restApiService.js"></script>
  <script src="ts/modules/restApi/services/authService.js"></script>
  <script src="ts/modules/restApi/controlers/authControler.js"></script>
  <script src="ts/modules/restApi/restApiModule.js"></script>

  <script src="ts/main.js"></script>

  <!--<script src="ts/services/bookDataServices.js"></script>
<script src="ts/controllers/bookListController.js"></script>

<script src="ts/controllers/bookDetailsController.js"></script>-->
</head>

<body layout="column">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
        </md-icon>
      </md-button>
      <h1>Szybka nauka</h1>
    </div>
  </md-toolbar>
  <div layout="row" flex>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button class="md-accent">Button 1</md-button>
      <md-button class="md-accent">Button 2</md-button>
    </md-sidenav>
    <div layout="column" flex id="content">
      <md-content layout="column" flex class="md-padding">
        This Starter Application consists of a Toolbar, SideNav (with two buttons), and Content area.
        <p>This is the content area! </p>
      </md-content>
    </div>
  </div>
</body>

</html>